$light-purple: #AC90F1;
$purple: #43026A;

/* Extra small devices (phones, 600px and down), are the default styles ;) */
$s-devices: 37.5em;  /* Small devices (portrait tablets and large phones, 600px and up) */
$m-devices: 48em;  /* Medium devices (landscape tablets, 768px and up) */
$l-devices: 62em;  /* Large devices (laptops/desktops, 992px and up) */
$xl-devices: 75em;  /* Extra large devices (large laptops and desktops, 1200px and up) */

.footer {
    grid-row: 15 / auto;

    &__border {
        width: 100vw;
        span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            font-size: 2rem;
            line-height: 0.5;
            color: $light-purple;
        }
    }

    .top-border {
        font-family: Spot-Matrix;
        span {
            font-size: 4rem;
        }
    }

    .middle-border {
        font-family: Embroidery;
    }

    &__input-wrapper {
        height: 20vh;
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: 0.5em auto;
        ul {
            list-style: none;
            li {
                margin-bottom: 0.3em;
                color: $purple;
                cursor: pointer;
            }
        }
        img {
            width: 2.3em;
            margin-right: 0.8em;
            cursor: pointer;
        }
    }
    &__copyrights {
        background: $purple;
        height: 8vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        .languages {
            display: flex;
            justify-content: flex-start;
            width: 75%;
            button {
                border: none;
                border-radius: 6px;
                margin-right: 0.5em;
            }
        }
        .date {
            color: white;
            font-size: 0.7em;
            grid-column: 2/4;
        }
    }
}

/* MEDIUM DEVICES (landscape tablets, 768px and up) */
@media only screen and (min-width: $m-devices) {
    .footer {
        &__menu {
            justify-content: center;
            margin: 1.2em auto;
            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 5%;
                li {
                    display: flex;
                    align-items: center;
                }
                li::after {
                    content: '\25C6';
                    color: $purple;
                    margin: 0 1em;
                }
                li:last-child:after{
                    content: '';
                    margin: 0;
                }
            }
            img {
                margin: 0 0.3em;
            }
        }
        &__copyrights {
            .languages {
                justify-content: flex-start;
                width: 80%;
            }
        }
    }
}