$light-purple: #AC90F1;
$purple: #43026A;

/* Extra small devices (phones, 600px and down), are the default styles ;) */
$s-devices: 37.5em;  /* Small devices (portrait tablets and large phones, 600px and up) */
$m-devices: 48em;  /* Medium devices (landscape tablets, 768px and up) */
$l-devices: 62em;  /* Large devices (laptops/desktops, 992px and up) */
$xl-devices: 75em;  /* Extra large devices (large laptops and desktops, 1200px and up) */

.footer {
    grid-row: 15 / auto;
    &__menu {
        height: 50vh;
    }
    .border-box {
        width: 100vw;
        span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            font-family: Embroidery;
            font-size: 2em;
            line-height: 0.5;
            color: $light-purple;
        }
    }
    &__copyrights {
        background: $purple;
        height: 8vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        .languages {
            display: flex;
            justify-content: flex-start;
            width: 75%;
            button {
                border: none;
                border-radius: 6px;
                margin-right: 0.5em;
            }
        }
        .date {
            color: white;
            font-size: 0.7em;
            grid-column: 2/4;
        }
    }
}

/* MEDIUM DEVICES (landscape tablets, 768px and up) */
@media only screen and (min-width: $m-devices) {
    .footer {
        &__copyrights {
            .languages {
                justify-content: flex-start;
                width: 80%;
            }
        }
    }
}