@import '../../constants.scss';

.mainBanner {
    width: 100vw;
    height: fit-content;

    .carousel {
        width: 100%;
        height: 100%;
    }
    
    .carousel-inner {
        width: inherit;
        height: inherit;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        min-height: 268px;
        height: 42vh; //same as boxImg
    }

    .carousel-indicators {
        top: 91%;
    }
    
    .carousel-indicators li {
        background-color: $light-black;
    }
}

@media (min-width: $laptop) {
    .mainBanner {
        height: 72vh;
        min-height: 400px;

        .carousel-control-prev,
        .carousel-control-next {
            min-height: 350px;
            height: 63vh; //same as boxImg
        }
    }
}

.mainSlideBanner {
    width:100%;
    height: 100%;
    padding-bottom: 3rem;

    &__boxImg {
        height: 42vh;
        min-height: 268px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__txtBox {
        height: fit-content;
        padding: 1rem 1.5rem;
        
        .title {
            margin: 0;
            @include font-title;
            line-height: 1.5rem;
        }

        .paragraph {
            font-size: 0.9rem;
            line-height: 1.1rem;
            margin: .2rem 0 .5rem 0;
        }  
    
    }
}

@media (min-width: $laptop) {
    .mainSlideBanner {
        &__boxImg {
            height: 63vh;
            min-height: 350px;
        }

        &__txtBox {
            position: absolute;
            bottom: 12%;
            max-height: 42%;
            height: fit-content;
            padding: .8rem 2rem 1.2rem;
            min-width: 48vw;
            max-width: 51vw;
            box-shadow: 0 0 0 200px rgba($color: white, $alpha: 0.5) inset;

            .line-clamp {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                padding-bottom: 0.2rem;
            }
        }
    }
}
