@import '../../../constants.scss';

.lang-select {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    line-height: 1.5;
    color: $light-grey;
    background: white;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: border-color 3s ease-in-out, box-shadow 3s ease-in-out;

    &:focus:not(.no-border),
    &:hover:not(.no-border) {
        color: $light-grey;
        background: white;
        outline: 0;
        border-color: #80bdff;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.25);
    }
}