@import '../../../constants.scss';

.lang-select {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    line-height: 1.5;
    color: $grey;
    background: white;
    border-radius: 0.25rem;
    border: 1px solid $light-grey;
    transition: border-color 3s ease-in-out, box-shadow 3s ease-in-out;

    &:focus:not(.no-border),
    &:hover:not(.no-border) {
        color: $grey;
        background: white;
        outline: 0;
        border-color: #80bdff;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.25);
    }

    .select-items {
        position: absolute;
        background-color: DodgerBlue;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }
}