@import '../../../constants.scss';

.header {
    background-size: contain;
    background-position: center center;
    box-shadow: 0 0 0 200px rgba($color: black, $alpha: 0.2) inset;
    height: 25vh;
    min-height: 162px;
    max-height: 185px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    h1 { 
        @include font-title;
        text-align: center;
        text-shadow: 2px 2px 2px #161616;
        padding: 0 .5rem;
    }

    span {
        display: inline-block;
        padding: 0 2rem;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1;
        text-shadow: 2px 2px 2px $light-black;
    }

    img {
        height: 100%;
        padding: .8rem;
        margin: 0 auto;
    }
}

@media (min-width: $laptop) {
    .header {
        align-items: flex-start;
        padding: 0 3rem;

        span { padding: 0 }
    }
}