$fontSize_title: 1.7em;
/* Extra small devices (phones, 600px and down), are the default styles ;) */
$s-devices: 600px;  /* Small devices (portrait tablets and large phones, 600px and up) */
$m-devices: 768px;  /* Medium devices (landscape tablets, 768px and up) */
$l-devices: 992px;  /* Large devices (laptops/desktops, 992px and up) */
$xl-devices: 1200px;  /* Extra large devices (large laptops and desktops, 1200px and up) */

.mainSlideBanner {
    width: 100vw;
    grid-row: 3/12;
    height: 100%;
    &__boxImg {
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__txtBox {
        max-height: 40%;
        overflow: hidden;
        padding: .5em 1em;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.5);
        .title {
            margin: 0;
            font-size: $fontSize_title;
            line-height: 1em;
            max-height: 56px;
            overflow: hidden;
        }

        .paragraph {
            line-height: 1.1em;
            margin: .6em 0;
            max-height: 52px;
            overflow: hidden;
        }

        .see-more-btn {
            padding: .3em 2.5em;
            border: none;
            border-radius: 3px;
            span {
                vertical-align: middle;
            }
        }
        
    }

    &__icons {
        height: 10%;
        display: flex;
        justify-content: center;
        .arrows {
            display: none;
        }
        .rhombus {
            width: 140px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 17px;
            }
        }
    }
}

/* MEDIUM DEVICES (landscape tablets, 768px and up) */
@media only screen and (min-width: $m-devices) {
    .mainSlideBanner {
        position: relative;
        grid-row: 3/10;

        &__boxImg {
            height: 88%;
        }

        &__txtBox {
            position: absolute;
            bottom: 12%;
            width: 46%;
            max-height: 42%;
        }
        
        &__icons {
            justify-content: flex-end;
            height: 12%;
            .arrows {
                display: flex;
                align-items: center; 
                margin-left: 1.5em;
                margin-right: 1em;
                .arrow {
                    font-size: 2.9em;
                }   
            }
        }
    }
}
