$fontSize_title: 1.5em;
$purple: #AC90F1;
/* Extra small devices (phones, 600px and down), are the default styles ;) */
$s-devices: 37.5em;  /* Small devices (portrait tablets and large phones, 600px and up) */
$m-devices: 48em;  /* Medium devices (landscape tablets, 768px and up) */
$l-devices: 62em;  /* Large devices (laptops/desktops, 992px and up) */
$xl-devices: 75em;  /* Extra large devices (large laptops and desktops, 1200px and up) */

.mainSlideBanner {
    width: inherit;
    height: inherit;
    &__boxImg {
        height: 55%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__txtBox {
        max-height: 35%;
        padding: .8em;
        box-sizing: border-box;
        .title {
            margin: 0;
            font-size: $fontSize_title;
            line-height: 1.1em;
            max-height: 36%;
        }

        .paragraph {
            max-height: 38%;
            line-height: 1.1em;
            margin: 0 0 .5em 0;
        }

        .line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            padding-bottom: 0.2em;
        }

        .see-more-btn {
            padding: .3em 2.5em;
            border: none;
            border-radius: 3px;
            background: $purple;
            color: white;
        }
        
    }
}

@media only screen and (min-width: $m-devices) {
    .mainSlideBanner {
        position: relative;
        grid-row: 3/11;

        &__boxImg {
            height: 88%;
        }

        &__txtBox {
            position: absolute;
            bottom: 12%;
            width: 48%;
            box-shadow: 0 0 0 200px rgba($color: white, $alpha: 0.5) inset;
            max-height: none;
        }
    }
}

@media only screen and (min-width: $l-devices) {
    &__txtBox {
        padding-left: 1em;
    }
}
