@import '../../../constants.scss';

.kits-section {
    &__content {
        width: 100vw;
        padding: 1.5rem 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .kits-selector {
            display: flex;
            flex-direction: column;

            a:first-child button { border-radius: 5px 5px 0 0;}
            a:last-child button { border-radius: 0 0 5px 5px;}

            button {
                font-size: 1.1rem;
                width: 100%;
                font-weight: 700;
                text-shadow: 2px 2px 2px #161616;
                color: white;
                background-image: url('../.././../assets/imgs/background.jpg');
                background-size: contain;
                box-shadow: 0 0 0 200px rgba($color: black, $alpha: 0.7) inset;
                white-space: nowrap;
                padding: 1rem;

                &:hover {
                    box-shadow: 0 0 0 200px rgba($color: black, $alpha: 0.1) inset;
                }
            }
        }

        .kits-carousel {
            margin-top: 2rem;
            text-align: center;
        
            h2 { margin: .2rem 0 .5rem;}
            p { 
                width: 85%;
                margin: 0 auto .75rem;
            }
            
        }

        .btn-purple {
            background: #43026A;
            margin-top: .5rem;
        }

    }
}

@media (min-width: $laptop) {
    .kits-section {
        &__content {
            padding: 1.5rem 3rem 2rem;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .description { margin-bottom: 2rem;}

            .kits-carousel {
                margin: 0 0 0 3rem;
                width: 50%;
            }
        }
    }
}

@media (min-width: $desktop) {
    .kits-section {
        &__content {
            .kits-carousel {
                margin: 0 0 0 3rem;
            }
        }
    }
}