@import '../../../constants.scss';

.kits-section {
    margin-top: 14vh;

    header {
        background-size: contain;
        background-position: center center;
        height: 25vh;
        min-height: 162px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        h1 {
            color: white;
            @include font-title;
            width: 100vw;
            text-align: center;
        }

        span {
            color: white;
            display: inline-block;
            padding: 0 2rem;
            width: 100vw;
            text-align: center;
            @include font-subTitle;
            line-height: 1;
        }
    }
}