//Media Query Breakpoints (Mobile First)
$tablet: 30em; //480px
$laptop: 48em; //768px
$desktop: 64em; //1024px
$xl-screen: 75em; //1200px

//Colors
$light-purple: #AC90F1;
$purple: #43026A;
$light-black: #161616;
$grey: #495057;
$light-grey: #ced4da;
$shadow: #b6b5b5;

//Font Sizes
@mixin font-title {
    font-size: 1.5rem;
    font-weight: 700;
}
@mixin font-subTitle {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.3;
}

