@import '../../../constants.scss';
$hamburger-speed: .5s;

//MOBILE FIRST 
.main-nav {
  width: 100vw;
  height: 12vh;
  min-height: 72px;
  padding-top: .3rem;
  position: fixed;
  z-index: 101;
  top:0;
  left: 0;
  background: white;


  &__menu_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  //LOGO 
  &__logo {
    height: 10vh;
    min-height: 58px;
    img {height: 100%;}
  }

  //HAMBURGER
  &__hamburger {
    display: block;
    width: 26px;
    height: 16px;
    position: relative;
    z-index: 102;
  
    i{
      transition: $hamburger-speed;
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: #161616;
      border-radius: 5px;
    }

    i:nth-of-type(1) {
      transition: $hamburger-speed;
      top: 16px;
    }    
  }

  .nav-collapse {
    background: #161616;
    position: fixed;
    top: 0;
    right: -80vw;
    width: 80vw;
    height: 100vh;
    overflow: auto;
    transition: right $hamburger-speed;
    padding-top: 90px;
    padding-left: 17%;
    z-index: 101;
    
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      margin-bottom: 2rem;

      .dropdown-toggle {
        padding: 0;
      }

      .dropdown-item {
        color: white;
        outline: none;
      }

      .dropdown-item:hover {
        background: transparent;
      }

      .dropdown-menu {
        background: #161616;
        position: relative;
        width: 100%;
      }

      .dropdown-divider {
        opacity: .5;
      }
    }

    &__link {
      color: white;
    }

    &__icons {
      margin-bottom: 1.5rem;
      align-self: center;
      img {
        width: 2.3rem;
        margin-right: 0.8rem;
      }
    }
  }
}


//HAMBURGER MENU OPENED (MOBILE)
.showMenu { 
  .main-nav__hamburger {
    i {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top:8px;
      background-color: white;
    }
    
    i:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      top:8px;
    }
  }

  .nav-collapse {
    right: 0;
  }
}

@media only screen and (min-width: $tablet) {
  .main-nav {
    .nav-collapse {
      width: 70vw;
      padding-left: 15%;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-nav {
    .nav-collapse {
      width: 50vw;
      padding-left: 11%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
  .main-nav {
    &__hamburger {
      display: none;
    }
    &__menu_wrapper {
      padding: 0 2rem;
    }
    .nav-collapse {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 12vh;
      overflow: unset;
      min-height: 72px;
      padding: 0;
      right: 2rem;
      background: white;

      &__list{
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      &__item{
        margin-bottom: 0;
        margin-right: 2rem;
  
        .dropdown-item {
          color: black;
        }
        
        .dropdown-menu {
          position: absolute;
          background: white;
        }
  
        .dropdown-divider {
          opacity: 1;
        }
      }

      #home {
        display: none;
      }

      &__link {
        color: black;
      }

      &__icons {
        display: none;
      }
    }
  }
}

.jumbotron {
  height: 50vh;
}


@media only screen and (min-width: $xl-screen) {
  .main-nav {
    .nav-collapse {
      &__item{
        margin-right: 3rem;
      }
    }
  }
}