$light-purple: #AC90F1;
$purple: #43026A;

/* Extra small devices (phones, 600px and down), are the default styles ;) */
$s-devices: 37.5em;  /* Small devices (portrait tablets and large phones, 600px and up) */
$m-devices: 48em;  /* Medium devices (landscape tablets, 768px and up) */
$l-devices: 62em;  /* Large devices (laptops/desktops, 992px and up) */
$xl-devices: 75em;  /* Extra large devices (large laptops and desktops, 1200px and up) */

.footer {
    grid-row: 15 / auto;

    &__border {
        width: 100vw;
        span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            font-size: 2rem;
            line-height: 0.5;
            color: $light-purple;
        }
    }

    .top-border {
        font-family: Spot-Matrix;
        span {
            font-size: 4rem;
        }
    }

    .middle-border {
        font-family: Embroidery;
    }

    &__input-wrapper {
        height: fit-content;
        width: 87%;
        margin: 0 auto 1rem;
        p {
            text-align: center;
            font-size: 0.9rem;
        }
        
        .custom-input {
            width: 100%;
            border-radius: 5%;
            margin: 0 auto;
        }

        .form-control {
            border-radius: 35px 0 0 35px;
            border-color: $light-purple;
            border-right: none;
            font-size: 0.9rem;
        }

        .btn {
            color: black;
            line-height: 1;
            background: transparent;
            border-color: $light-purple;
            border-left: none;
            border-radius: 0 35px 35px 0 !important;
            font-size: 0.9rem;
            font-weight: 600;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: 0.5em auto;
        ul {
            list-style: none;
            li {
                margin-bottom: 0.3em;
                cursor: pointer;
            }

            a{ color: $purple }
        }
        img {
            width: 2.3em;
            margin-right: 0.8em;
            cursor: pointer;
        }
    }
    &__copyrights {
        background: $purple;
        height: 8vh;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .date {
            color: white;
            font-size: 0.8rem
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $s-devices) {
    .footer {
        &__input-wrapper {
            .custom-input { 
                width: 85%;
            }
        }
    }
}

/* MEDIUM DEVICES (landscape tablets, 768px and up) */
@media only screen and (min-width: $m-devices) {
    .footer {
        &__input-wrapper {
            .custom-input {
                width: 55%;
            }
        }

        &__menu {
            justify-content: center;
            margin: 1.2em auto;
            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 5%;
                li {
                    display: flex;
                    align-items: center;
                }
                li::after {
                    content: '\25C6';
                    color: $purple;
                    margin: 0 1em;
                }
                li:last-child:after{
                    content: '';
                    margin: 0;
                }
            }
            img {
                margin: 0 0.3em;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $l-devices) {
    .footer {
        &__input-wrapper {
            .custom-input {
                width: 41%;
            }
        }
    }
}