@import '../../constants.scss';

.club-section {

    h3 {
        @include font-subTitle;
    }

    ul {padding-left: 1.5rem;}

    .content-wrapper {
        width: 100vw;
        padding: 1rem;
        box-sizing: border-box;
    }

    .how-participate { margin-bottom: 2rem;}

    .pin-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__content {text-align: center;}
        img {  
            display: block;
            max-width: 310px;
            transition: transform 0.1s;
            &:hover {
                cursor: pointer;
            }    
        }
        h3 { margin-top: .5rem;}
        ul { 
            padding: 0; 
            list-style: none;

            li {margin-bottom: .5rem;}
        }
    }

    .store-link {
        display: block;
        margin-bottom: .3rem;
        @include font-subTitle;
    }

    .price {
        display: block;
        font-size: 1.15rem;
        font-weight: 300;
        padding-left: .2rem;
    }

    .intro-instagramFeed {
        padding: .5rem 1rem;
        text-align: center;
    }

    .greetings {
        background-image: url('../../assets/imgs/background.jpg');
        background-size: contain;
        box-shadow: 0 0 0 200px rgba($color: black, $alpha: 0.3) inset;
        color: white;
        padding: 2rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p, span {
            text-shadow: 2px 2px 2px #161616;
        }

        p {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: .5rem;
            line-height: 1;
        }

        span { font-weight: 500;}
    }
}

@media (min-width: $tablet) {
    .club-section {
        .greetings {
            p { font-size: 1.75rem;}
            span { font-size: 1.35rem;}
        }
    }
}

@media (min-width: $laptop) {
    .club-section {
        .content-wrapper {
            width: 85%;
            margin: 0 auto;
        }

        .pin-info {
            flex-wrap: nowrap;
            align-items: center;
            &__content {text-align: initial;}

            img { margin: 0 1rem 0 2rem;}
            
            ul { 
                padding-left: 1rem;
                list-style: outside;
            }
        }

        .price {display: inline-block;}
    }
}


